<header>
    <div class="nav">
        <a routerLink="/home"><i class='bx bxs-left-arrow-circle'></i></a>
        <img src="../../../assets/public/images/logo-rick.png" alt="logo-rick">
        <span><i class='bx bxs-invader'></i> Ola, user</span>
    </div>
</header>

<section class="about">
    <div class="infos">
        <h3>Esta SPA foi feita a partir de uma API, onde temos o retorno de todos os personagens via JSON. <br>Foi criado com Angular 17, Sass e TypeScript</h3>
        <img src="../../../assets/public/images/logo-rick.png" alt="logo-rick">
    </div>
</section>