<section class="cover">

<div class="container">

    <input type="checkbox" id="click">
    <label for="click">
        <i class='menu-btn bx bx-menu'></i>
        <i class='close-btn bx bx-x-circle'></i>
    </label>
    

    <div class="sidenav">

        <div class="icon_items">
            <ul>
                <li routerLink="/home" class="active">
                    <i class='bx bxs-home'></i>
                    <a>Home</a>
                </li>
                <li routerLink="/acount">
                    <i class='bx bxs-user-circle'></i>
                    <a>Acount</a>
                </li>
                <li>
                    <i class='bx bxl-github'></i>
                    <a target="_blank" href="https://github.com/KauaFelinto">GitHub</a>
                </li>
                <li routerLink="/about">
                    <i class='bx bxs-info-circle'></i>
                    <a>Info</a>
                </li>
                <li routerLink="">
                    <i class='bx bx-log-in'></i>
                    <a>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>

    
    <app-card class="grid"></app-card>

</section>